.post-room-page{
  padding: 20px 55px;
  input{
    transaction:'border-color 0.5s'
  }
  .dropzone{
    width: 270px;
    height: 280px;
    text-align: center;
    font-weight: bolder;
    padding-top: 55px;
    font-size: 28px;
    margin-bottom: 10px;

    background: $red-color;
    color: $white-color;
    border-radius: 10px;
    &:hover{
      -webkit-box-shadow: 10px 10px 36px -12px rgba(179,179,179,0.78);
      -moz-box-shadow: 10px 10px 36px -12px rgba(179,179,179,0.78);
      box-shadow: 10px 10px 36px -12px rgba(179,179,179,0.78);

    }


  }
  .drop-image-container{
    height: 270px;
    width: 280px;
    border-radius: 10px;
    margin:0;
    text-align: center;
    overflow: hidden;
    background-color: #000;
    position: relative;
    img{
      opacity: 0.7;
      width: auto;
      height: 100%;
      transform: scale(1.15);
      transition: transform 0.5s, opacity 0.5s;
      &:hover{
        opacity: 1;
        transform: scale(1.03);
      }
    }
    i{
      z-index: 99;
      position: absolute;
      color: $red-color;
      right: 5px;
      font-size: 21px;
      cursor: pointer;
      top:5px;
      opacity: 0.7;
      &:hover{
        opacity: 1;
      }
    }

  }
  .post-star{
    label{
      margin: 0;
      padding: 0;
    }
  }
  .input-range{
    margin-top: 13px;


  }

}